<section class="event-one">
    <div class="event-one__bg-color"></div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">                    
            <h2 class="section-title__title title-animation"><span>Travaux</span>De<span>Salle</span>De<span>Bain</span>.com</h2>					
        </div>
        <div class="event-one__inner">
            <div class="event-one__main-tab-box tabs-box">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="about-two__right">									
                            <h2 class="event-one__buttons-title event-one__buttons-title-margin-bottom">Nous sommes une entreprise :</h2>
                            <p class="about-two__text">Spécialiste de la rénovation de salle de bain depuis plus de 10 ans, nous accompagnons particuliers et propriétaires dans la transformation de leurs espaces de vie. 
                                Notre mission est simple : donner vie à votre projet, du premier échange jusqu'à la livraison finale, avec rigueur, transparence et passion du travail bien fait.<br/><br/>
                                Forts d'une décennie d'expérience sur le terrain, nos artisans qualifiés maîtrisent l'ensemble des corps de métier : plomberie, carrelage, électricité, peinture et installation sanitaire. 
                                Chaque chantier est suivi par un interlocuteur unique qui coordonne les travaux et veille au respect des délais et de votre budget.<br/><br/>
                                Nous croyons profondément que la salle de bain est bien plus qu'une simple pièce fonctionnelle : c'est un espace de détente et de bien-être qui mérite une attention particulière. 
                                C'est pourquoi nous sélectionnons des matériaux de qualité et proposons des solutions sur mesure, adaptées à vos goûts et à vos besoins.<br/><br/>
                                Faire appel à nous, c'est choisir la sérénité : moins de stress, des garanties incluses et un résultat qui dépasse vos attentes.
                            </p>									
                            <div class="about-two__btn-box">
                                <a href="about.html" class="thm-btn">Prenez Rendez-vous<span class="fas fa-arrow-right"></span></a>
                            </div>
                        </div>									
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="event-one__tabs-content-outer-rsdb">
                            <div class="tabs-content">
                                <div class="tab active-tab" id="event-1">
                                    <div class="event-one__tabs-content-box">
                                        <div class="event-one__img-box">
                                            <div class="event-one__img">
                                                <img src="assets/images/resources/event-one-1-1-w850.jpg" alt="">
                                            </div>                                                    
                                        </div>
                                    </div>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>				
    </div>
</section>