<div class="site-footer-two__bg" style="background-image: url(assets/images/shapes/footer-one-map-1920x535.png);"></div>
<div class="container">
    <div class="site-footer-two__inner">
        <div class="site-footer-two__top">
            <div class="row">
                <div class="col-xl-5">
                    <div class="site-footer-two__top-left">
                        <div class="site-footer-two__logo-box">
                            <div class="site-footer-two__logo">
                                <a href="https://eduvers-laravel.mnsithub.com/index"><img
                                        src="assets/images/resources/logo-6-travauxSDB-footer.png" alt=""></a>
                            </div>
                            <p class="site-footer-two__text-1">
                                De la conception à la finition, nous donnons vie <br>
                                à la salle de bain dont vous avez toujours rêvé <br>
                                avec soin, précision et passion.</p>
                        </div>
                        <div class="site-footer-two__social-box">
                            <h3 class="site-footer-two__social-title">Suivez-Nous</h3>
                            <div class="site-footer-two__social">
                                <a href="#"><span class="fab fa-facebook-f"></span></a>
                                <a href="#"><span class="fab fa-twitter"></span></a>
                                <a href="#"><span class="fab fa-instagram"></span></a>
                                <a href="#"><span class="fab fa-pinterest-p"></span></a>
                            </div>
                        </div>
                        <p class="site-footer-two__copyright-text">Copyright@ 2026 <a href="#">Travaux de salle de bain</a> Tous droits réservés.</p>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="site-footer-two__top-right">
                        <div class="site-footer-two__widget-box">
                            <div class="row">
                                <div class="col-xl-5 col-lg-5 col-md-2 wow fadeInUp" data-wow-delay="100ms">
                                    <div class="footer-widget-two__quick-links">
                                        <h4 class="footer-widget-two__title">Liens rapides</h4>
                                        <ul class="footer-widget-two__quick-links-list list-unstyled">
                                            <li>
                                                <a href="{{ path('app_home') }}"><span class="fas fa-angle-right"></span>Accueil</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_about') }}"><span class="fas fa-angle-right"></span>Qui Sommes Nous</a>
                                            </li>
                                            
                                            <li>
                                                <a href="/nos-realisations"><span class="fas fa-angle-right"></span>Nos Réalisations</a>
                                            </li>                                                        
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xl-5 col-lg-5 col-md-2 wow fadeInUp" data-wow-delay="200ms">
                                    <div class="footer-widget-two__essential-links">
                                        <h4 class="footer-widget-two__title">Nos essentiels</h4>
                                        <ul class="footer-widget-two__quick-links-list list-unstyled">                                                       
                                            <li>
                                                <a href="/politique-de-confidentialite"><span class="fas fa-angle-right"></span>Politique De Confidentialité</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_mentions') }}"><span class="fas fa-angle-right"></span>Mentions Légales</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('app_contact') }}"><span class="fas fa-angle-right"></span>Contactez-nous</a>
                                            </li>                                                        
                                        </ul>
                                    </div>
                                </div>                                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-footer-two__bottom">
    <div class="container">
        <ul class="list-unstyled site-footer-two__contact-info">
            <li>
                <div class="site-footer-two__contact-info-icon">
                    <span class="fas fa-envelope"></span>
                </div>
                <div class="site-footer-two__contact-info-content">
                    <p>Adresse Email:</p>
                    <h5><a href="mailto:info@domain.com">fahri.dahmani@gmail.com</a></h5>
                </div>
            </li>
            <li>
                <div class="site-footer-two__contact-info-icon">
                    <span class="fas fa-phone"></span>
                </div>
                <div class="site-footer-two__contact-info-content">
                    <p>Numéro de Téléphone:</p>
                    <h5><a href="tel:9288006780">+33 6 64 27 94 45</a></h5>
                </div>
            </li>
            <li>
                <div class="site-footer-two__contact-info-icon">
                    <span class="fas fa-calendar-alt"></span>
                </div>
                <div class="site-footer-two__contact-info-content">
                    <p>Horraire d'ouverture</p>
                    <h5>Lun - Ven 09:00 - 18:00</h5>
                </div>
            </li>
            <li>
                <div class="site-footer-two__contact-info-icon">
                    <span class="fas fa-map-marker-alt"></span>
                </div>
                <div class="site-footer-two__contact-info-content">
                    <p>Adresse:</p>
                    <h5>13 Quai Stalingrad, 76350 Oissel</h5>
                </div>
            </li>
        </ul>
    </div>
</div>