<header class="main-header-two">
    <div class="main-menu-two__top">
        <div class="main-menu-two__top-inner">
            <ul class="list-unstyled main-menu-two__contact-list">
                <li>
                    <div class="icon">
                        <i class="fal fa-envelope"></i>
                    </div>
                    <div class="text">
                        <p><a href="fahri.dahmani@gmail.com">fahri.dahmani@gmail.com</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="far fa-phone"></i>
                    </div>
                    <div class="text">
                        <p><a href="tel:12300051168">+33 6 64 27 94 45</a>
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i class="far fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                        <p>13 Quai Stalingrad, 76350 Oissel</p>
                    </div>
                </li>
            </ul>
            <p class="main-menu-two__top-welcome-text">La rénovation de votre salle de bain, en toute confiance.</p>
            <div class="main-menu-two__top-right">
                <p class="main-menu-two__social-title"><!--Follow Us On:--></p>
                <div class="main-menu-two__social">
                    <!--a href="#"><i class="fab fa-twitter"></i></a-->
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <!--a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a-->
                </div>
            </div>
        </div>
    </div>
    <nav class="main-menu main-menu-two">
        <div class="main-menu-two__wrapper">
            <div class="main-menu-two__wrapper-inner">
                <div class="main-menu-two__left">
                    <div class="main-menu-two__logo">                                
                        <a href="index.html"><img src="assets/images/resources/logo-6-travauxSDB.png" alt=""></a>
                    </div>
                </div>
                <div class="main-menu-two__main-menu-box">
                    <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                    <ul class="main-menu__list">
                        <li><a href="{{ path('app_home') }}">Accueil</a></li>
                        <li><a href="{{ path('app_about') }}">Qui sommes nous</a></li>
                        <li><a href="{{ path('app_achievements') }}">Nos réalisations</a></li>
                        <li><a href="{{ path('app_contact') }}">Contactez-nous</a></li>                                                               
                    </ul>
                </div>
                <div class="main-menu-two__btn-box">
                    <a href="contact.html" class="thm-btn">Prenez rendez-vous<span
                            class="fas fa-arrow-right"></span></a>
                </div>
                <div class="main-menu-two__right">                           
                    <div class="main-menu-two__nav-sidebar-icon">
                        <a class="navSidebar-button" href="#">
                            <span class="icon-dots-menu-one"></span>
                            <span class="icon-dots-menu-two"></span>
                            <span class="icon-dots-menu-three"></span>
                        </a>
                    </div>                            
                </div>
            </div>
        </div>
    </nav>
</header>
