<section class="event-one">            
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">                    
            <h2 class="section-title__title title-animation">
                Mentions <span>Légales</span>					
            </h2>					
        </div>
        <div class="event-one__inner">
            <div class="event-one__main-tab-box tabs-box">
                <div class="row">
                    <div class="col-xl-12 col-lg-12">
                        <div class="about-two__right">																		                                                                        
                            <p class="about-two__text">Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite L.C.E.N.<br/>
                                Nous portons à la connaissance des utilisateurs et visiteurs du site : www.TravauxDeSalleDeBain.com les informations suivantes :<br/><p>

                            <h2 class="title-mention-legales">ÉDITEUR</h2>
                            <p class="about-two__text">Le site www.TravauxDeSalleDeBain.com est la propriété exclusive de <strong>TDSDB SARL</strong>, qui l’édite.<br/><br/>
                            
                            <strong>Société à responsabilité limitée TDSDB (Travaux De Salle De Bain)</strong><br/>
                            <strong>SARL</strong> au capital de <strong>40 000,00 €</strong> – Tél : <strong>01 84 16 94 49</strong><br/>   

                            <strong>13 Quai Stalingrad, 76350 Oissel</strong><br/><br/>
                            Immatriculée au Registre du Commerce et des Sociétés de <strong>ROUEN</strong> sous le numéro : <strong>XXXXXXXXXXXXXXXXX</strong><br/>
                            

                            Numéro TVA intracommunautaire : <strong>XX XXXXXXXX</strong><br/><br/>

                            Directeur de la publication : <strong>TDSDB SARL</strong><br/>                                
                            Contactez le responsable de la publication : contact@travauxdesalledebain.com<br/></p>
                            
                            <h2 class="title-mention-legales">HÉBERGEMENT</h2>
                            <p class="about-two__text">Le site est hébergé par <strong>O2SWITCH</strong> Chem. des Pardiaux, 63000 Clermont-Ferrand<br/></p>

                            <h2 class="title-mention-legales">WEBMASTER</h2>
                            <p class="about-two__text">Création du site par Fahri DAHMANI<br/></p>
                        </div>																		
                    </div>                            
                </div>
            </div>
        </div>				
    </div>
</section>