<section class="cta-one">
    <div class="container">
        <div class="cta-one__inner cta-one-padding">
            <div class="cta-one__bg" style="background-image: url(assets/images/backgrounds/cta-one-bg-1920x180.jpg);">
            </div>
            <div class="row">
                <!--CTA One Single Start-->
                <div class="col-xl-4 col-lg-4">
                    <div class="cta-one__single">
                        <div class="cta-one__icon">
                            <span class="icon-design-thinking"></span>
                        </div>
                        <div class="cta-one__content">
                            <h3>Conception & Design</h3>
                            <p>Des espaces pensés sur mesure pour vous</p>
                        </div>
                    </div>
                </div>
                <!--CTA One Single End-->
                <!--CTA One Single Start-->
                <div class="col-xl-4 col-lg-4">
                    <div class="cta-one__single">
                        <div class="cta-one__icon">
                            <span class="icon-award"></span>
                        </div>
                        <div class="cta-one__content">
                            <h3>Installation & Expertise</h3>
                            <p>Un résultat impeccable, garanti par nos experts</p>
                        </div>
                    </div>
                </div>
                <!--CTA One Single End-->
                <!--CTA One Single Start-->
                <div class="col-xl-4 col-lg-4">
                    <div class="cta-one__single">
                        <div class="cta-one__icon">
                            <span class="icon-script"></span>
                        </div>
                        <div class="cta-one__content">
                            <h3>Matériaux & Qualité</h3>
                            <p>Des matériaux haut de gamme, choisis avec soin</p>
                        </div>
                    </div>
                </div>
                <!--CTA One Single End-->
            </div>
        </div>
    </div>
</section>