<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1920x604.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner page-header__inner-mentions-legales">
            <!--h3>Mentions <span>Légales</span> </h3-->
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><span class="fas fa-angle-right"></span></li>
                    <li>Politique De Confidentialité </li>
                </ul>
            </div>
        </div>
    </div>           
</section>