<section class="event-one">
    <div class="event-one__bg-color"></div>
    <div class="container">
        <div class="section-title text-center sec-title-animation animation-style1">
            <div class="section-title__tagline-box">
                <div class="section-title__tagline-shape"></div>
                <div class="section-title__tagline-shape-2"></div>
                <span class="section-title__tagline">Services</span>
            </div>
            <h2 class="section-title__title title-animation">Nos <span>Prestations</span></h2>
            <p class="about-two__text">Spécialistes de la rénovation intérieure en Île-de-France, nous accompagnons propriétaires et investisseurs dans tous leurs projets, du simple rafraîchissement à la rénovation complète, avec des solutions adaptées à chaque budget.</p>
        </div>
        <div class="event-one__inner">
            <div class="event-one__main-tab-box tabs-box">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="about-two__right">
                            <h2 class="event-one__buttons-title event-one__buttons-title-margin-bottom">Rénovation de salles de bain</h2>
                            <p class="about-two__text">Offrez une nouvelle dimension à <span>votre salle de bain grâce à une rénovation adaptée à vos envies. Basés à Paris</span>, nous mettons notre expertise au service de la transformation de votre espace, qu’il s’agisse d’un simple renouveau ou d’une refonte complète.<br/><br/>
                            Une fois vos choix d’équipements et de matériaux validés, nous prenons en charge l’organisation du chantier pour garantir une exécution fluide et sans imprévus.<br/><br/>
                            Douche à l’italienne, WC suspendu, meuble sur mesure avec double vasque… chaque projet est pensé pour allier esthétisme, confort et durabilité.
                            En seulement deux semaines, profitez d’une salle de bain entièrement rénovée, prête à l’usage et conçue pour durer.</p>
                            
                            <div class="about-two__btn-box">
                                <a href="about.html" class="thm-btn">Prenez Rendez-vous<span
                                        class="fas fa-arrow-right"></span></a>
                            </div>
                        </div>	
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="event-one__tabs-content-outer-rsdb">
                            <div class="tabs-content">
                                <div class="tab active-tab" id="event-1">
                                    <div class="event-one__tabs-content-box">
                                        <div class="event-one__img-box">
                                            <div class="event-one__img">
                                                <img src="assets/images/resources/event-one-1-1-rsdb.jpg" alt="">
                                            </div>
                                            <!--div class="event-one__date">
                                                <p>25<span>july</span></p>
                                            </div>
                                            <div class="event-one__post">
                                                <p>Posted by <span>Jonatha Owens</span></p>
                                                <span>3 Comments</span>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="event-2">
                                    <div class="event-one__tabs-content-box">
                                        <div class="event-one__img-box">
                                            <div class="event-one__img">
                                                <img src="assets/images/resources/event-one-1-2.jpg" alt="">
                                            </div>
                                            <div class="event-one__date">
                                                <p>16<span>Feb</span></p>
                                            </div>
                                            <div class="event-one__post">
                                                <p>Posted by <span>Jonatha Owens</span></p>
                                                <span>3 Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="event-3">
                                    <div class="event-one__tabs-content-box">
                                        <div class="event-one__img-box">
                                            <div class="event-one__img">
                                                <img src="assets/images/resources/event-one-1-3.jpg" alt="">
                                            </div>
                                            <div class="event-one__date">
                                                <p>20<span>Aug</span></p>
                                            </div>
                                            <div class="event-one__post">
                                                <p>Posted by <span>Jonatha Owens</span></p>
                                                <span>3 Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab" id="event-4">
                                    <div class="event-one__tabs-content-box">
                                        <div class="event-one__img-box">
                                            <div class="event-one__img">
                                                <img src="assets/images/resources/event-one-1-4.jpg" alt="">
                                            </div>
                                            <div class="event-one__date">
                                                <p>15<span>Feb</span></p>
                                            </div>
                                            <div class="event-one__post">
                                                <p>Posted by <span>Jonatha Owens</span></p>
                                                <span>3 Comments</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>				
    </div>
</section>
