<section class="main-slider-two">
    <div class="swiper-container main-slider-two__carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main-slider-two__bg-box">
                    <div class="main-slider-two__bg"
                        style="background-image: url(assets/images/backgrounds/rsdb-slider-2-1-1920x800.jpg);">
                    </div>
                </div>
                <div class="container">
                    <div class="main-slider-two__content">
                        <div class="main-slider-two__shape-1"></div>
                        <div class="main-slider-two__shape-2"></div>
                        <div class="main-slider-two__sub-title-box">
                            <div class="main-slider-two__sub-title-shape"></div>
                            <p class="main-slider-two__sub-title">Solutions modernes pour votre salle de bain</p>
                            <div class="main-slider-two__sub-title-shape"></div>
                        </div>
                        <h2 class="main-slider-two__title">Transformez votre salle de bain<br>
                            en un espace <span>élégant et fonctionnel</span>
                        </h2>
                        <p class="main-slider-two__text">Nous proposons des rénovations complètes
                            avec des matériaux de qualité, un savoir-faire expert
                            et un design moderne <br> pour créer un espace confortable
                            et durable au quotidien.</p>
                        <div class="main-slider-two__btn-box">
                            <div class="main-slider-two__btn">
                                <a href="{{ path('app_contact') }}" class="thm-btn">Prenez rendez-vous<span
                                        class="fas fa-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-slider-two__bg-box">
                    <div class="main-slider-two__bg"
                        style="background-image: url(assets/images/backgrounds/rsdb-slider-2-2-1920x800.jpg);">
                    </div>
                </div>
                <div class="container">
                    <div class="main-slider-two__content">
                        <div class="main-slider-two__shape-1"></div>
                        <div class="main-slider-two__shape-2"></div>
                        <div class="main-slider-two__sub-title-box">
                            <div class="main-slider-two__sub-title-shape"></div>
                            <p class="main-slider-two__sub-title">Excellence & sérénité</p>
                            <div class="main-slider-two__sub-title-shape"></div>
                        </div>
                        <h2 class="main-slider-two__title">Une salle de bain rénovée
                            <br> avec <span>Exigence et Précision</span>
                        </h2>
                        <p class="main-slider-two__text">Bénéficiez d’un accompagnement sur mesure
                            par des artisans qualifiés <br> pour un résultat haut de gamme
                            et une fiscalité optimisée à 10%.</p>
                        <div class="main-slider-two__btn-box">
                            <div class="main-slider-two__btn">
                                <a href="{{ path('app_contact') }}" class="thm-btn">Prenez rendez-vous<span
                                        class="fas fa-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="main-slider-two__bg-box">
                    <div class="main-slider-two__bg"
                        style="background-image: url(assets/images/backgrounds/rsdb-slider-2-3-1920x800.jpg);">
                    </div>
                </div>
                <div class="container">
                    <div class="main-slider-two__content">
                        <div class="main-slider-two__shape-1"></div>
                        <div class="main-slider-two__shape-2"></div>
                        <div class="main-slider-two__sub-title-box">
                            <div class="main-slider-two__sub-title-shape"></div>
                            <p class="main-slider-two__sub-title">Gestion simplifiée</p>
                            <div class="main-slider-two__sub-title-shape"></div>
                        </div>
                        <h2 class="main-slider-two__title">Un seul interlocuteur
                            pour<br><span>tout votre projet</span>
                        </h2>
                        <p class="main-slider-two__text">Gagnez du temps grâce à un contact unique
                            qui coordonne l’ensemble des travaux <br> et assure une livraison dans les délais.</p>
                        <div class="main-slider-two__btn-box">
                            <div class="main-slider-two__btn">
                                <a href="{{ path('app_contact') }}" class="thm-btn">Prenez rendez-vous<span
                                        class="fas fa-arrow-right"></span></a>
                            </div>                                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="main-slider-two__nav">
            <div class="swiper-button-prev" id="main-slider-two__swiper-button-next">
                <i class="icon-back"></i>
            </div>
            <div class="swiper-button-next" id="main-slider-two__swiper-button-prev">
                <i class="icon-next"></i>
            </div>
        </div>
    </div>
</section>