<section class="event-page">
    <div class="container">
        <div class="row">
            <!--Event Two Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="events-two__single">
                    <div class="events-two__img">
                        <img src="assets/images/resources/event-2-1-410x275.jpg" alt="">
                    </div>
                    <div class="events-two__content">
                        <p class="events-two__time"> <span class="icon-clock"></span> 7:00 pm - 9:00 pm</p>
                        <h3 class="events-two__title"><a href="event-details.html">Rénovation complète d'une salle de bain</a></h3>
                        <div class="events-two__location">
                            <div class="events-two__location-icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p class="events-two__loation-text">Appartement Paris 11e</p>
                        </div>
                        <div class="events-two__btn-box">
                            <a href="event-details.html" class="thm-btn">Voir les détails<span
                                    class="fas fa-arrow-right"></span></a>
                        </div>
                        <div class="events-two__date">
                            
                            <p>25 Dec</p>
                            <span>2025</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Two Single End -->
            <!--Event Two Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="events-two__single">
                    <div class="events-two__img">
                        <img src="assets/images/resources/event-2-2-410x275.jpg" alt="">
                    </div>
                    <div class="events-two__content">
                        <p class="events-two__time"> <span class="icon-clock"></span> 7:00 pm - 9:00 pm</p>
                        <h3 class="events-two__title"><a href="event-details.html">Création d'une douche à l'italienne</a></h3>
                        <div class="events-two__location">
                            <div class="events-two__location-icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p class="events-two__loation-text">Studio 18 m², Île-de-France</p>
                        </div>
                        <div class="events-two__btn-box">
                            <a href="event-details.html" class="thm-btn">Voir les détails<span
                                    class="fas fa-arrow-right"></span></a>
                        </div>
                        <div class="events-two__date">
                            <p>18 Jan</p>
                            <span>2026</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Two Single End -->
            <!--Event Two Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="events-two__single">
                    <div class="events-two__img">
                        <img src="assets/images/resources/event-2-3-410x275.jpg" alt="">
                    </div>
                    <div class="events-two__content">
                        <p class="events-two__time"> <span class="icon-clock"></span> 7:00 pm - 9:00 pm</p>
                        <h3 class="events-two__title"><a href="event-details.html">Remplacement de baignoire par une douche senior.</a></h3>
                        <div class="events-two__location">
                            <div class="events-two__location-icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p class="events-two__loation-text">Maison à Levalois</p>
                        </div>
                        <div class="events-two__btn-box">
                            <a href="event-details.html" class="thm-btn">Voir les détails<span
                                    class="fas fa-arrow-right"></span></a>
                        </div>
                        <div class="events-two__date">
                            <p>15 Fev</p>
                            <span>2026</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Two Single End -->
            <!--Event Two Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="events-two__single">
                    <div class="events-two__img">
                        <img src="assets/images/resources/event-2-4-410x275.jpg" alt="">
                    </div>
                    <div class="events-two__content">
                        <p class="events-two__time"> <span class="icon-clock"></span> 7:00 pm - 9:00 pm</p>
                        <h3 class="events-two__title"><a href="event-details.html">Rénovation WC suspendu & faïence.</a></h3>
                        <div class="events-two__location">
                            <div class="events-two__location-icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p class="events-two__loation-text">Appartement haussmannien Paris 7e</p>
                        </div>
                        <div class="events-two__btn-box">
                            <a href="event-details.html" class="thm-btn">Voir les détails<span
                                    class="fas fa-arrow-right"></span></a>
                        </div>
                        <div class="events-two__date">
                            <p>23 Dec</p>
                            <span>2026</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Two Single End -->
            <!--Event Two Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="events-two__single">
                    <div class="events-two__img">
                        <img src="assets/images/resources/event-2-5-410x275.jpg" alt="">
                    </div>
                    <div class="events-two__content">
                        <p class="events-two__time"> <span class="icon-clock"></span> 7:00 pm - 9:00 pm</p>
                        <h3 class="events-two__title"><a href="event-details.html">Salle de bain sur mesure avec double vasque</a></h3>
                        <div class="events-two__location">
                            <div class="events-two__location-icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p class="events-two__loation-text">Maison individuelle en banlieue parisienne</p>
                        </div>
                        <div class="events-two__btn-box">
                            <a href="event-details.html" class="thm-btn">Voir les détails<span
                                    class="fas fa-arrow-right"></span></a>
                        </div>
                        <div class="events-two__date">
                            <p>14 Mar</p>
                            <span>2026</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Two Single End -->
            <!--Event Two Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="events-two__single">
                    <div class="events-two__img">
                        <img src="assets/images/resources/event-2-6-410x275.jpg" alt="">
                    </div>
                    <div class="events-two__content">
                        <p class="events-two__time"> <span class="icon-clock"></span> 7:00 pm - 9:00 pm</p>
                        <h3 class="events-two__title"><a href="event-details.html">Rafraîchissement complet salle d'eau</a></h3>
                        <div class="events-two__location">
                            <div class="events-two__location-icon">
                                <span class="fas fa-map-marker-alt"></span>
                            </div>
                            <p class="events-two__loation-text">Investissement locatif Paris 20e</p>
                        </div>
                        <div class="events-two__btn-box">
                            <a href="event-details.html" class="thm-btn">Voir les détails<span
                                    class="fas fa-arrow-right"></span></a>
                        </div>
                        <div class="events-two__date">
                            <p>29 Fev</p>
                            <span>2026</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Event Two Single End -->
        </div>
    </div>
</section>