<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg-1920x604-about-us.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h3>Nos Réalisations </h3>
            <div class="thm-breadcrumb__inner">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><span class="fas fa-angle-right"></span></li>
                    <li>Nos réalisations </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bubbleContainer">
        <div class="bubble-1"></div>
        <div class="bubble-2"></div>
        <div class="bubble-3"></div>
    </div>
</section>